[submodule "lib/forge-std"]
	path = proofs/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solmate"]
	path = proofs/lib/solmate
	url = https://github.com/rari-capital/solmate
